@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

h1 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 10em;
}


body {
     background: black;
}

.copy {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-style: solid
}

a:visited {
    color: white;
    text-decoration-line: underline;
    text-decoration-color: forestgreen;
    text-decoration-style: dotted;
}

.introblock {
    
}
 
#introvid {align-content: center;
/*
margin-left: 29%;
margin-right: 29%;}*/
