@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
h1 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 10em;
}


body {
     background: black;
}

.copy {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
